# Default public BOINC Discord RPC application
# You may replace this with your own Discord Application ID
DISCORD_CLIENT_ID=1509951042958266580

# BOINC RPC connection settings
BOINC_HOST=127.0.0.1
BOINC_PORT=31416

# Linux default:
BOINC_PASSWORD_PATH=/var/lib/boinc/gui_rpc_auth.cfg

# Windows example (uncomment if needed):
# BOINC_PASSWORD_PATH=C:\ProgramData\BOINC\gui_rpc_auth.cfg

# Update interval (seconds)
UPDATE_INTERVAL=15

# Enable debug logs (True / False)
DEBUG_MODE=False
