[Unit]
Description=Middleware BOINC vers Discord Rich Presence
After=network.target

[Service]
Type=simple

Environment="PYTHONUNBUFFERED=1"
Environment="PATH=%h/.local/bin:/usr/bin"

EnvironmentFile=%h/.config/boinc-rpc/.env

ExecStart=/usr/bin/python3 %h/.local/bin/boinc_rpc_daemon.py

Restart=always
RestartSec=15

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
