[Unit]
Description=BOINC Discord Rich Presence Middleware
After=network.target

[Service]
Type=simple

Environment="PYTHONUNBUFFERED=1"
Environment="PATH=%h/.local/bin:/usr/bin"

WorkingDirectory=%h/BOINC-RPC
ExecStart=/usr/bin/python3 %h/BOINC-RPC/src/boinc_rpc_daemon.py

Restart=always
RestartSec=15

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
